body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 5px;
    text-decoration: none;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 25px;
    font-weight: bold;
    font-size: 18px;
    padding-right: 10px;
}
.navbar a:hover {
    color: #ff6347;
    /* Tomato color on hover */
    text-decoration: none;
}
/* hero section banner */
.hero {
    background-image: url(/Imeges/hero\ bg\ 1.jpg);
    background-size: cover;
    background-position: center;
    height: 720px;
    display: flex;
    align-items: center;
}
.hero-text {
    color: #ff6347;
    margin-left: 400px;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 43px;
    padding: 0px;
    margin-right: 20px;
    text-transform: uppercase;
}
.hero-text h1 {
    padding: 0px;
}
.hero-text p {
    font-size: 35px;
    margin: 5px;
    padding-bottom: 20px;
}
.hero-text input[type="button"] {
    background-color: #19ab16;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 200px;
    height: 70px;
    padding: 0px;
    margin-left: 280px;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
}
.hero-text input[type="button"]:hover {
    background-color: #dc5704;
    cursor: pointer;
}
/* Card details section */
.card-details h2 {
    font-size: 40px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
}
/* Food Cards Section */
.food-section {
    display: flex;
    /* Row layout */
    justify-content: center;
    /* Center row */
    gap: 80px;
    /* Space between cards */
    padding: 40px;
    background-color: #ffffff;
}
.food-card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
    height: max-content;
}
.food-card img {
    width: 100%;
    height: 350px;
    /* Fixed height for uniformity */
    object-fit: cover;
    /* Fits image nicely */
    border-radius: 10px;
    display: block;
}
.food-card input[type="button"] {
    background-color: #19ab16;
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: capitalize;
}
.food-card input[type="button"]:hover {
    background-color: #dc5704;
    cursor: pointer;
}
.food-card:hover {
    transform: scale(1.05);
    /* Slight zoom */
}
.food-card h3 
{
    margin-top: 25px;
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}
.rps 
{
    font-weight:normal;
}
.food-card p {
    font-size: 17px;
    color: #000000;
    font-weight:normal;
    font-family:cursive;
    margin-top: 0px;
}
/* menu page css */
.menu-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    background-color: #ffffff;
}
.menu-container h3 {
    font-size: 40px;
    color: #010101;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.menu-item
{
   
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     width: 350px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
    height: max-content;
    width: 350px;
    margin: 10px;
}
.mn-txt
{
    text-align: center;
    text-transform:uppercase;
    font-size: 40px;
    color: #010101;
    padding-bottom: 10px;
    margin-top: 20px;
    padding:  20px ;
    font-weight: bold;
    border-radius: 30px;
    background-color: #531f11;
    color: white;
    letter-spacing: 3px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu-item img 
{
    width: 100%;
    height: 360px;
     object-fit: cover;
    border-radius: 10px;
    display: block;
}
.menu-item input[type="button"] 
{
     background-color: #19ab16;
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: capitalize;
}
.menu-item input[type="button"]:hover 
{
    background-color: #dc5704;
    cursor: pointer;
}
.menu-item:hover
{
     transform: scale(1.05);
}
.menu-item h3
{
    margin-top: 25px;
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}
.menu-item p
{
     font-size: 15px;
    color: #000000;
    font-weight:normal;
    font-family:cursive;
    margin-top: 0px;
}
